<table cellpadding="0" cellspacing="0" class="signup-table producers-table">
  <thead>
  <tr>
    <td>
      <h5></h5>
    </td>
    <td class="text-center" width="20%">
      <h5>Basic</h5>
    </td>
    <td class="text-center" width="24%">
      <h5>Plus</h5>
    </td>
  </tr>
  </thead>
  <tbody><tr>
    <td>
      <p>
        <strong>Profile</strong>
      </p>
      <p>
        <span class="text-small">Get a profile on the Open Food Network - including a listing on the Producers page and a pin on the OFN Map. These help people to find and connect with you.</span>
      </p>
      <p>
        <span class="text-small">Option to add and manage your products on OFN, enabling you to act as a supplier to other OFN shopfronts.</span>
      </p>
    </td>
    <td class="text-center">
      <i class="ofn-i_003-check text-big"></i>
    </td>
    <td class="text-center">
      <i class="ofn-i_003-check text-big"></i>
    </td>
  </tr>
  <tr>
    <td>
      <p>
        <strong>Shop</strong>
      </p>
      <p class="text-small">Get a shopfront on OFN to sell your produce direct!</p>
      <p class="text-small">Basic support included:</p>
      <ul class="small">
        <li>User manual</li>
        <li>Post queries to discussion forum/via contact form</li>
        <li>Report bugs/suggestions</li>
        <li>Regular release notes – what's new</li>
      </ul>
    </td>
    <td class="text-center"></td>
    <td class="text-center">
      <i class="ofn-i_003-check text-big"></i>
    </td>
  </tr>
  </tbody><tfoot>
<tr>
  <td></td>
  <td class="text-center" valign="top">
    <h2>Free</h2>
  </td>
  <td class="text-center" valign="top">
    <h2>
      <div class="text-small">
        first
        <br>
        month
      </div>
      Free
    </h2>
    <p class="text-small">
      Then, <%=t(:fee_percent)%> of total transactions
      <br>
      <em>
        Capped at
        <strong><%=t(:fee_max_price)%></strong>
        per month
      </em>
      <br>
      <em>(Special offer for <%=DateTime.current.year%>)</em>
    </p>
  </td>
</tr>
</tfoot>
</table>
<p>Ask us about our premium service package!  For <%=t(:fee_support)%> we’ll get you started with an initial consultation (how to get the most out of OFN for your business / set-up assistance) and provide email/phone support for 3 months while you’re getting up to speed (response within 24 hours). If you want to keep this level of support going after the first three months, then it is <%=t(:fee_max_price)%> per month on top of your usage subscription.
  More information: <%=link_to "Email us", ContentConfig.footer_email.reverse, mailto: true, target: '_blank'%>
</p>
